@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "inter", serif;
  box-sizing: border-box;
}
